<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="dialect">
			org.hibernate.dialect.MySQL5Dialect
		</property>
		<property name="show_sql">true</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="connection.url">
			jdbc:mysql:///crowdsourcing
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123456</property>
		<property name="format_sql">true</property>
		<property name="hibernate.current_session_context_class">
			thread
		</property>

		<mapping resource="com/entity/User.hbm.xml" />
		<mapping resource="com/entity/Project.hbm.xml" />
		<mapping resource="com/entity/Developer.hbm.xml" />
		<mapping resource="com/entity/Administrator.hbm.xml" />
		<mapping resource="com/entity/News.hbm.xml" />
		<mapping resource="com/entity/UserProjectRelate.hbm.xml" />
		<mapping resource="com/entity/Collection.hbm.xml" />
		<mapping resource="com/entity/Skill.hbm.xml" />
		<mapping resource="com/entity/City.hbm.xml" />
		<mapping resource="com/entity/AppType.hbm.xml" />
	</session-factory>
</hibernate-configuration>